.biryani {
  font-family: 'Biryani', sans-serif;
}

.anton {
  font-family: "Anton", sans-serif;
}

.biryani-black {
  font-family: 'Biryani', sans-serif;
  font-weight: 900;
}

.pad-bottom {
  padding-bottom: 60px;
}

a.active {
  color: #000;
  border-bottom-color: #000;
}

/* These classes are activated when the id & currentMix */

/* props in the PlayMix component are the same      */

.playing .play-button {
  background-image: url('../images/pause.svg');
}

.playing .play-button:hover {
  background-image: url('../images/pause.svg');
  background-position-x: center;
}

.playing .play-button:not(:hover) {
  background-image: url('../images/bars.svg');
  background-size: 37% !important;
  background-position-x: center;
}

.loading .play-button {
  background-image: url('../images/loader.svg');
  background-size: 55% !important;
  background-position-x: center;
}